<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my town</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h3>Welcome to my town website</h3>




    <button type="submit"> <a href="/mytownwebsite/signup"> signUp</a></button>
    <button type="submit"><a href="/mytownwebsite/signin"> signIn</a></button>
    <button type="submit"><a href="/mytownwebsite/signout"> signOut</a></button>




	<script src="" async defer></script>
  </body>
</html>